:root {
	--gutter: 24px;
	--gutter--desktop: 48px;

	--font-size: 16px;
	--font-size--heading: calc(2 * var(--font-size));
	--font-size--subheading: calc(1.5 * var(--font-size));

	--font-size--desktop: 16px;

}

@media screen and (min-width: 768px) {
	:root {
		--gutter: var(--gutter--desktop);
		--font-size: var(--font-size--desktop);
	}
}

body {
	font-family: 'Sono', sans-serif;
	font-size: var(--font-size);
	padding: var(--gutter);

	display: flex;
	flex-direction: column;
	gap: var(--gutter);
}

a {
	color:darkgoldenrod;
}

h1 {
	font-size: var(--font-size--heading);
}

h2 {
	font-size: var(--font-size--subheading);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: var(--gutter);
}

.grid img {
	max-height: 70vh;
}

nav {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	gap: calc(0.5*var(--gutter));
	justify-content: left;
	margin-bottom: var(--gutter);
}

main img {
	max-height: 50vh;
	object-fit: cover;
	aspect-ratio: 1/1;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
}

.gallery { 
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--gutter);
}

.gallery figure {
	grid-column: var(--span, span 1);
}